.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50em;
    
}

.cartas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    margin-top: 5em;
}

@media (max-width: 900px) {
    .cartas , .cartasAbajo , .row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5em;
    }
}

.cartasAbajo{
    margin-bottom: 5em;
}

.footer{
    background-color: lightgray;
}

.icono{
    display: flex;
    height: 4em;
    width: 4em;
}