.cardBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
margin-bottom: 1em;
}
.column{
    text-align: center;
}

.footer, .form-group{
    margin-top: 1em;
}

.cartas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 5em;
}

@media (max-width: 900px) {
    .cartas , .cartasAbajo , .row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5em;
    }
}

.cartasAbajo , .cartas{
    margin-bottom: 5em;
}

.footer{
    margin-top: 7.5em;
    background-color: lightgray;
}

.icono{
    display: flex;
    height: 4em;
    width: 4em;
}